# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history


# Python specific
__pycache__/
*.egg-info/
.eggs/
venv/

# Private files
urls.txt
credentials.txt
tv-remote/alternative.sh
.gitignore
tv-remote/RaspberryPITVHDMI
tv-remote/README.md
tv-remote/modification.sh
