[Unit]
Description=Service to provide a GUI that shows all 5 external cameras

[Service]
User=danny
WorkingDirectory=/home/danny/security-camera-viewer
ExecStart=/home/danny/security-camera-viewer/start-cctv.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

